* {
    -fx-base: #424242
}

.button {
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, black, 15, 0, 0, 0);
    -fx-background-color: blueviolet;
    -fx-background-radius: 1em;
    -fx-padding: 1px;
}

.label {
    -fx-font-size: 16px;
    -fx-effect: dropshadow(three-pass-box, black, 15, 0, 0, 0);
    -fx-background-color: darkviolet;
    -fx-font-family: "sans-serif";
    -fx-background-radius: 0.5em;
}

.text-area {
    -fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
    -fx-background-color: #444444;
    -fx-font-family: "sans-serif";
}

